@use "base";

@media (min-width: 799.98px) {
	body {
		max-width: 800px;
	}
}

#content {
	#menu-list {
		margin-top: 16px;

		h2 {
			font-size: 1.2rem;
		}

		li {
			&:not(:first-child) {
				margin-top: 12px;
			}

			& ul li {
				list-style: none;
			}
		}
	}
}
