@use "../../css/base";

@media (min-width: 1479.98px) {
	body {
		max-width: 1480px;
	}
}
@media (max-width: 1160px) {
	#result-table-field {
		.input-group-text {
			display: none;
		}
	}
}

hr {
	margin-top: 1.5rem;
}

#content {
	#result-table-field {
		margin-top: 1.5rem;
		margin-bottom: 1rem;

		#result-table {
			margin-bottom: 0;

			& .cw-col {
				width: 8%;
			}
		}

		& .result-legend {
			font-size: 0.75rem;
			font-weight: bold;
			color: #d53322;
		}
	}
}