// Google fonts "Noto Sans JP", "Atkinson Hyperlegible Mono"
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Noto+Sans+JP:wght@100..900&display=swap');

$footer_height: 36px;
$default_font: "Noto Sans JP", sans-serif;
$mono_font: "Atkinson Hyperlegible Mono", monospace;

body {
	margin: 16px auto;

	font-family: $default_font;
	font-size: 0.93rem;
}

@media (min-width: 1479.98px) {
	body {
		max-width: 1480px;
	}
}

h1 {
font-size: 1.88rem;
	margin-bottom: 8px;

	a {
		cursor: grab;
		text-decoration: none;
		color: black;
	}
}

#result-table-field {
	margin-top: 1.5rem;
	margin-bottom: 1rem;

	#result-table {
		margin-bottom: 0;
	}

	& .result-legend {
		font-size: 0.75rem;
		font-weight: bold;
		color: #d53322;
	}
}

.text-right {
	text-align: right !important;
}